<footer class="background--light-purple inverted py-3 px-4 pos-rel">
    <div class="block-container blocks py-2 px-3">
        <div class="block lg-tablet-up-4">
            <div>
                <a href="/" class="site-logo">
                    <img src="/images/platform-ui.svg" class="h-25" alt=" Platform UI">
                </a>
                <span class="text--size-lg">Platform UI</span>
                <p>Built by the <a class="text--beige" href="{{ .Site.Params.rim_url }}" rel="external">{{ .Site.Params.rim }}</a>
                    development team, aka <a class="text--beige" href="{{ .Site.Params.rimdev_url }}" rel="external">{{ .Site.Params.rimdev }}</a>, to
                    power our platform of staff and agent tools. </p>
            </div>
            <p>Platform UI is available on <a class="text--beige" href="https://www.npmjs.com/package/@ritterim/platform-ui" rel="external">npm</a> and uses SkellyCSS, also
                on <a class="text--beige" href="https://www.npmjs.com/package/@ritterim/skellycss" rel="external">npm</a> and
                <a class="text--beige" href="https://github.com/ritterim/skellyCSS" rel="external">github</a>
            </p>
            <p>Current version {{ os.ReadFile ".pui-version" }}</p>
            <p class="mb-0">&copy;{{ now.Format "2006"}} {{ .Site.Params.rim }}</p>
        </div>
        <div class="block lg-tablet-up-8">
            <div class="block-container tablet-up-2 lg-tablet-up-3 w-100 blocks p-2">
                <div class="block">
                    <h2 class="text--white text--size-md mb-2">Getting Started</h2>
                    {{ $list := (.Site.Menus.main) }}
                    {{ $len := (len $list) }}
                    <ul class="list">
                        {{ range $index, $element := $list }}
                        <li class="{{ if eq (add $index 1) $len }}mb-0{{ end }}">
                            <a href="{{ .URL }}" class="text--beige">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="block">
                    <h2 class="text--white text--size-md mb-2">More from RIMdev</h2>
                    <ul class="list">
                        <li>
                            <a href="https://www.npmjs.com/search?q=ritterim" rel="external" class="text--beige">npm packages</a>
                        </li>
                        <li>
                            <a href="https://www.nuget.org/packages?q=rimdev" rel="external" class="text--beige">nuget packages</a>
                        </li>
                        <li>
                            <a href="{{ .Site.Params.rimdev_url }}" rel="external" class="text--beige">Tech blog</a>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <h2 class="text--white text--size-md mb-2">More from Ritter</h2>
                    <ul class="list">
                        <li>
                            <a href="https://ritterim.com/" rel="external" class="text--beige">Ritter Insurance Marketing</a>
                        </li>
                        <li>
                            <a href="https://www.ritterim.com/blog/" rel="external" class="text--beige">ASG</a>
                        </li>
                        <li>
                            <a href="https://podcasts.apple.com/us/podcast/agent-survival-guide-podcast/id1310637866" rel="external" class="text--beige">Podcasts</a>
                        </li>
                        <li>
                            <a href="https://medicareful.com/" rel="external" class="text--beige">Medicareful</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>