<header id="main-header" class="site-menu-wrapper site-header site-header--fixed background-purple px-4 flex flex--justify-center">
  <div class="block-container mobile-up-3 flex--align-center h-100">
    <div class="block tablet-up--shrink">
      <a href="/" class="flex flex--align-center">
        <img src="/images/platform-ui.svg" alt="Platform UI" />
      </a>
    </div>
    <div class="block tablet-up--fill h-100">
      <button class="site-menu-mobile-action button--plain text-white">
        <span class="sr-only">Toggle Navigation</span>
        <i aria-hidden="true" focusable="false" class="pi-menu pi-xl"></i>
      </button>
      <nav class="site-menu inverted h-100 ml-2">
        {{ $currentPage := . }}
        {{ $currentSection := $currentPage.Section }}
        {{ range .Site.Menus.main }}
          {{ $active := eq $currentSection .Identifier }}
          {{ if .HasChildren }}
          <div class="site-menu__item no-border dropdown p-0">
            <a href="{{ .URL }}" class="dropdown__trigger flex flex--justify-between w-100 p-3{{ if $active }} active{{ end }}">
              {{ .Name }} <i class="pi-angle-right mx-2 site-menu__link-icon"></i>
            </a>
            <div class="dropdown__content background-purple">
              {{ range .Children }}
              <a href="{{ .URL }}" class="">{{ .Name }}</a>
              {{ end }}
            </div>
          </div>
          {{ else }}
          <div class="site-menu__item no-border p-0">
            <a href="{{ .URL }}" class="site-menu__link p-3{{ if $active }} active{{end}}">{{ .Name }}</a>
          </div>
          {{ end }}
        {{ end }}
      </nav>
    </div>
    <div class="block tablet-up--shrink inverted header-info">
      <div class="flex--center-content">
        <span class="mr-3">v1.1</span>
        <a class="mr-3 text-white" href="https://rimdev.io"><i class='pi-rimdev-circle'></i></a>
        <a href="#" class="button button--salmon text-salmon--hover inverted">Get Started</a>
      </div>
    </div>
  </div>
</header>