<header id="main-header" class="site-menu-wrapper site-header site-header--fixed background-purple p-3 flex--align-center flex--justify-start">
  <a href="/" class="site-logo mr-3">
    <img src="/images/platform-ui.svg" alt="Platform UI" />
  </a>
  <button class="site-menu-mobile-action button--plain text-white pos-abs pin-right pin-center-top mr-3">
    <span class="sr-only">Toggle Navigation</span>
    <i aria-hidden="true" focusable="false" class="pi-menu pi-xl"></i>
  </button>
  <nav class="site-menu hover-underline hover-underline--white text-white">
    {{ $currentPage := . }}
    {{ $currentSection := $currentPage.Section }}
    {{ range .Site.Menus.main }}
      {{ $active := eq $currentSection .Identifier }}
      {{ if .HasChildren }}
      <div class="no-border dropdown p-3">
        <a href="{{ .URL }}" class="site-menu__item dropdown__trigger flex flex--justify-between w-100{{ if $active }} active{{ end }}">
          {{ .Name }} <i class="pi-angle-right ml-2 site-menu__link-icon"></i>
        </a>
        <div class="dropdown__content background-purple">
          <ul class="pui-list">
            {{ range .Children }}
            <li class="m-0">
              <a href="{{ .URL }}" class="w-100 px-3 py-2 flex">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ else }}
        <a href="{{ .URL }}" class="site-menu__item{{ if $active }} active{{end}}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </nav>
  <div class="block-container flex--grow">
    <div class="block block-10 tablet-up-11 lg-tablet-up-12 text-white flex flex--justify-end flex--align-center">
      <span class="mr-3">v1.1</span>
      <a href="https://rimdev.io" class="mr-3 text-white" title="RIMdev Blog" aria-label="RIMdev Blog">
        <i class='pi-rimdev-circle pi-xl' aria-hidden="true"></i>
      </a>
      <a href="/docs/getting-started/get-started" class="button button--post">Get Started</a>
    </div>
  </div>
</header>