<script src="https://unpkg.com/@ritterim/platform-ui/dist/js/platform-ui.min.js" crossorigin defer></script>
{{ if .Page.Params.SkellyCSS }}
<script type="text/javascript" src="https://unpkg.com/@ritterim/skellycss/dist/skelly.js" crossorigin defer></script>
{{ end }}
{{ if (fileExists "./assets/output/index.js") }}
  {{ $js := resources.Get "output/index.js" }}
  {{ with $js }}
    {{ $secureJS := . | resources.Fingerprint }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}