{{ $page := .currentPage}}
{{ range .menu }}
{{ if in .RelPermalink $page.Section }}
<!-- removing pui- prefixes seems to break the left navigation a bit -->
<li class="{{ if ne .FirstSection .Page }}accordion no-border mb-0{{ end }}{{ if .IsAncestor $page }} active{{ end }}">
    <a href="{{ .RelPermalink }}" class="text-base text--size-md{{ if .IsAncestor $page }} active{{ end }} {{ if eq .FirstSection .Page }}hidden{{ else }}accordion__header py-2 px-3 mb-0{{ end }}">
        <i class="pi-angle-down accordion__icon mr-2 text-light"></i>
        {{ .Name }}
    </a>
    <ul class="list{{ if ne .FirstSection .Page }} accordion__content py-2 background--lighter{{ end }}{{ if .IsAncestor $page }} active{{ end }}">
        {{ if .Sections }}
            {{- partial "site/sidebar-menu" (dict "menu" .Sections "currentPage" $page)}}
        {{ end }}
        {{ $sectionPages := where .Pages "File.Dir" "in" .File.Dir }}
        {{ range $sectionPages }}
            <li class="mb-0 flex">
                <a href="{{ .RelPermalink }}" class="text-base pr-3 py-2 pl-4 w-100 text-light--hover{{ if eq . $page }} active{{ end }}">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
</li>
{{ end }}
{{ end }}