{{ $page := .currentPage}}
{{ range .menu }}
{{ if in .RelPermalink $page.Section }}
<ul class="sidebar-menu list">
    {{ if .Sections }}
        {{- partial "site/sidebar-menu-item" (dict "menu" .Sections "currentPage" $page)}}
    {{ end }}
    {{ $sectionPages := where .Pages "File.Dir" "in" .File.Dir }}
    {{ range $sectionPages }}
        <li class="mb-0 flex">
            <a href="{{ .RelPermalink }}" class="text-base text--size-md{{ if .IsAncestor $page }} active{{ end }} py-2 px-3">{{ .Name }}</a>
        </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}