.callout {
    color: inherit;
    width: 100%;  
    &:before {
      content: attr(data-callout-header);
      display: flex;
      font-size: 90%;
      font-weight: bold;
      text-transform: uppercase;
    }
    a {
      color: hotpink !important;
      border-color: hotpink !important;
    }
    code {
      background-color: hotpink;
      border-radius: .2rem;
      color: var(--white);
      padding: 0 .25rem;
    }
  }  