#main-header {
  .site-menu {
    background-color: transparent;
    &.active {
      background-color: var(--purple);
    }
    .site-menu__item {
      &.dropdown-active {
        background-color: var(--purple);
      }
      .dropdown__trigger {
        &:hover:not(.search):not(.active) {
          background-color: var(--purple);
        }
        &.active:first-child {
          font-weight: bold;
          border-bottom: 1px solid;
        }
      }
    }

    .site-menu__link,
    .dropdown__trigger {
      position: relative;
      &:hover {
        &:before {
          width: 100%;
        }
      }
      &:before {
        background-color: var(--white);
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        right: 0;
        transition: width ease var(--transitions);
        width: 0;
        bottom: -1px;
      }

      &.active {
        &::before {
          width: 100%;
        }
      }
    }
  }

  @media (pointer: fine) {
    .site-menu__item:hover:not(.search):not(.active) {
      background: var(--purple);
    }
  }

  .header-info {
    @media (max-width: 768px) {
      position: absolute;
      right: 7rem;
    }
  }
}

.site-menu-mobile-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 60px;
  height: 60px;
}

.mobile-action {
  &__line {
    position:relative;
    display: flex;
    flex-flow:column;
    height: 4px;
    border-radius: 1rem;
    width: 50%;
    background: white;
    transition: 0.2s ease-in-out;
    transform:translateY(-10px);
    transform-origin:top left;
    &::before,
    &::after {
      content: '';
      position:absolute;
      height: 4px;
      border-radius: 1rem;
      width: 100%;
      background: white;
      transition: 0.2s ease-in-out;
      transform-origin: center;
    }
    &::before{
      transform:translateY(10px);
    }
    &::after{
      transform:translateY(20px);
    }
  }
}

.site-menu-mobile-action.active {
  > .mobile-action__line {
    transform:rotate(45deg) translate(-5px, -10px);
    &::before{
      transform:rotate(-45deg);
      opacity:0;
    }
    &::after{
      transform:rotate(-90deg);
    }
  }
}
