.DS_Store
.cache/
.vscode/
node_modules/
resources/
dist/
assets/js/platform-ui.min.js
assets/css/platform-ui.min.css
assets/output/
static/css/

# JetBrains Rider
.idea/

.npm-version
.pui-version

# Hugo Things
.hugo_build.lock