.DS_Store
.cache/
.vscode/
node_modules/
public/
resources/
assets/js/platform-ui.min.js
assets/css/platform-ui.min.css
assets/output/
static/css/
artifacts/
build/
./Styleguide.zip
.hugo_build.lock

# JetBrains Rider
.idea/

.npm-version
.pui-version

# Hugo Things
.hugo_build.lock