// PUI brand colors
$brand-colors: (
  "purple": #31225c,
  "light-purple": #604d9e,
  "salmon": #e58967,
);

:root {
  @each $key, $value in $brand-colors {
    --#{$key}: #{$value};
  }

  --header-height: 4.5rem;
}

.highlight {
  pre {
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-x: scroll;
    code {
      color: unset;
      font-size: 85%;
    }
  }
}

.pui-card {
  @media only screen and (min-width: 1800px) {
    min-height: auto;
  }
}

.sidebar-menu {
  a {
    &.active {
      font-weight: bold;
    }
  }
}

.hero {
  height: 500px;
  background-image: url(/images/hero/background.svg);
  background-size: cover;
  background-position: bottom right;
  // @media screen and (min-width:768px){
  //   background-position: bottom left;
  // }
  // @media screen and (min-width:1239px){
  //   background-position:bottom center;
  //   height:600px;
  // }
  // @media screen and (min-width:1799px){
  //   height:700px;
  // }
}
