// PUI brand colors
$brand-colors: (
  "purple": #31225c,
  "light-purple": #604d9e,
  "salmon": #e58967,
);

:root {
  @each $key, $value in $brand-colors {
    --#{$key}: #{$value};
  }

  --header-height: 4.5rem;
}

.highlight {
  pre {
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-x: scroll;
    code {
      color: unset;
      font-size: 85%;
    }
  }
}

.pui-card {
  @media only screen and (min-width: 1800px) {
    min-height: auto;
  }
}

.sidebar-menu {
  a {
    &.active {
      font-weight: bold;
    }
  }
}

.hero {
  height: 500px;
  background-image: url(/images/platform-ui-background.svg);
  background-size: cover;
  background-position: bottom center;
}


.content{
  display:flex;
  flex-flow:column;
  @media (min-width:1024px){
    flex-flow:row;
  }
  &__main{
    order:2;
    width:100%;
    @media (min-width:1024px){
      order:1;
      flex:4;
    }
  }
  &__nav{
    order:1;
    flex:1;
  }
}

.frame{
  display:flex;
  flex-flow:column;
  width:100%;
  @media (min-width:768px){
    flex-flow:row;
  }
  &__nav{
    flex:1;
  }
  &__main{
    @media (min-width:768px){
      flex:4
    }
  }
}

#toc-trigger{
  display:block;
  @media (min-width:768px){
    display:none;
  }
}