// PUI brand colors
$brand-colors: (
  "purple": hsla(256, 46%, 25%, 1),
  "light-purple": hsla(254, 34%, 46%, 1),
  "salmon": hsla(16, 71%, 65%, 1),
  "lavender": hsla(240, 67%, 94%, 1),
  "lavender-blush": hsla(340, 100%, 97%, 1),
  "thistle": hsla(300, 24%, 80%, 1)
);

:root {
  @each $key, $value in $brand-colors {
    --#{$key}: #{$value};
  }

  --header-height: 4.5rem;
}

.highlight {
  pre {
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    code {
      color: unset;
      font-size: 85%;
    }
  }
}

.pui-card {
  @media only screen and (min-width: 1800px) {
    min-height: auto;
  }
}

.sidebar-menu {
  .accordion {
    &.active {
      box-shadow: none;
    }
  }
  a {
    &.active {
      font-weight: bold;
    }
  }
}


#frame {
  flex-flow: column;
  @media screen and (min-width: 991px) {
    flex-flow: row;
  }
}

#frame-content {
  flex-flow: column;
  @media screen and (min-width: 991px) {
    flex-flow: row;
  }
}

#frame-mobile-nav-drawer{
  width:75%;
}

#frame-mobile-nav-trigger{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}

#content {
  order: 2;
  @media screen and (min-width:991px){
    order:1;
  }
}

#content-nav {
  order: 1;
  @media screen and (min-width:991px){
    padding-top:1em;
  }
}

// Copy Button CSS
// ===============
// Adjustments to the .highlight CSS class to hide the .code-text textarea
.highlight {
  position: relative;
  pre {
    padding:1rem;
    padding-right:100px; 
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    code {
      padding: 0;
    }
  }
}

// CSS to place copy button in top-right corner of code example
.button--copy {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 2;
  display:none;
  @media (min-width:768px){
    display:block;
  }
}

// CSS to hide the code textarea
.code-text {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  opacity:0;
}

.astronaut {
  animation: float-away 20s linear 3s 1 normal both
}

@keyframes float-away {
  from {transform: translate(0, 0) rotate(0)}
  to {transform: translate(150%, 25%) rotate(1000deg)}
}