.header-info {
  @media (max-width: 768px) {
    position: absolute;
    right: 7rem;
  }
}
.site-menu-mobile-action {
  @media (max-width: 768px) {
    position: absolute;
    top: 1.5rem;
    right: 3rem;
  }
}
.site-menu {
  background-color: transparent;
  &.active {
    background: map-get($brand-colors, 'purple');
  }
  .site-menu__item {
    &.dropdown-active {
      background: map-get($brand-colors, 'purple');
    }
    .site-menu__link {
      &:hover:not(.search):not(.active) {
        background: map-get($brand-colors, 'purple');
      }
      &.active:first-child {
        font-weight: bold;
        border-bottom: 1px solid;
      }
    }
  }
}