// Add in the font-sizes of your headers here:
// $headers: (
//   "h1": 2rem,
//   "h2": 1.8rem,
//   "h3": 1.6rem,
//   "h4": 1.4rem,
//   "h5": 1.2rem,
//   "h6": 1rem,
// );

$header-line-widths: (
  "sm": 25%,
  "md": 50%,
  "lg": 75%,
  "full": 100%,
);

$skeleton-color: #EFEFEF;

.skeleton {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  &__line {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 1em;
    width: 100%;
    background: $skeleton-color;
    border-radius: 3px;
    margin-bottom: 0.6em;
  }

  &__line + &__line:last-child {
    width: 50%;
  }

  @each $width-label, $width in $header-line-widths {
    &--#{$width-label} {
      width: $width;
    }
  }
  &__animation {
    position: abosolute;
    display: flex;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0) 100%
    );

    animation: shine 3s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  .skeleton__line {
    // margin-bottom: 0.6em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  .skeleton__line {
    background:darken($skeleton-color, 5%);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }

  30% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}