@each $name, $color in $brand-colors {
    // background brand colors
    .background-#{$name} {
        background-color: $color !important;
    }
    // text color brand $brand-colors
    .text-#{$name} {
        color: $color !important;
    }
    .text-#{$name}--hover {
        &:hover{
            color: $color !important;
        }
    }
}