.abstract-element {
  height: 50px;
  width: 50px;
}

.button--purple {
  border:1px solid var(--purple);
  color:var(--purple);
  &:hover,
  &:active {
    background: var(--light-purple);
    color:white;
  }
  &:focus{
    background: var(--purple);
    color:white;
  }
}
