<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

  {{ block "head" . }}
    {{ partial "site/head" . }}
  {{ end }}

  <body class="flex flex--column">
    {{ partial "site/gtm-body" . }}
    {{ partial "site/header" . }}

    <div id="app" class="header-fixed flex--grow{{ if .IsHome }} home{{ end }}">
      {{ if .IsHome }}
      <main>
        {{ partial "site/hero" }}
      {{ end }}
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
      {{if .IsHome}}
      </main>
      {{ end }}
    </div>

    {{ partial "site/footer" . }}

  </body>

  {{ partial "site/scripts.html" . }}
  
</html>
