<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

  {{ block "head" . }}
    {{ partial "site/head" . }}
  {{ end }}

  <body class="flex flex--column">

    {{ partial "site/header" . }}

    <div id="app" class="header-fixed flex--grow{{ if .IsHome }} home{{ end }}">
      
      {{ if .IsHome }}
      <div class="block-container flex--justify-end hero">
        <div class="block block-11 lg-tablet-up-6 pt-4 pb-6 text-white">
          <h1 class="text-white">Platform UI</h1>
          <p>Fast, simple, and powerful css framework that's built with the user experience in mind.</p>
          <div class="button-group">
            <a href="#" class="button button--salmon inverted">Get Started</a>
            <a href="#" class="button button--ghost">New in v1.1</a>
          </div>
        </div>
      </div>
      {{ end }}

      <div class="block-container{{ if not .IsHome }} h-100{{ end }}">
        {{ if not .IsHome }}
        <nav id="sidebar-left" class="block block-11 tablet-up-2 py-3" role="sidebar">
          {{- partial "site/sidebar-menu" (dict "menu" .Site.Sections "currentPage" .Page) -}}
        </nav>
        {{ end }}
        <main class="block{{ if not .IsHome }} block-11 tablet-up-8 p-3{{ end }}" role="main">
        {{ block "main" . }}
          {{ .Content }}
        {{ end }}
        </main>
        {{ if not .IsHome }}
        <nav id="sidebar-right" class="block block-11 tablet-up-2 p-3 pos-fix pin-right h-100 background-white" role="sidebar">
          <h3>On This Page</h3>
          <div id="toc"></div>
        </nav>
        {{ end }}
      </div>

    </div>

    {{ partial "site/footer" . }}

  </body>

</html>
