<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example - {{ .Title }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@ritterim/platform-ui/dist/platform-ui.min.css"
    />
    {{ if .Page.Params.SkellyCSS }}
    <link rel="stylesheet" href="https://unpkg.com/@ritterim/skellycss/dist/style.css">
    {{ end }}
    {{ if .Page.Params.Chartist }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    {{ end }}
  </head>
  <body>
    {{ block "main" . }} 
      {{ .Content }} 
    {{ end }}

    <script src="https://unpkg.com/@ritterim/platform-ui/dist/js/platform-ui.min.js"></script>
    {{ if .Page.Params.SkellyCSS }}
    <script src="https://unpkg.com/@ritterim/skellycss/dist/skelly.js"></script>
    {{ end }}
  </body>
</html>
