{{ define "main" }}
<div class="block-container">
    <div id="frame" class="block-container w-100">
        {{ if not .IsHome }}
        <!-- Mobile Nav & Trigger -->
        <div id="frame-mobile-nav" class="hide-lg-tablet-up px-0">
            <div class="block-container background-lighter flex--justify-end py-2 px-4">
                <button class="button--plain flex flex--align-center flex--column drawer__open"
                    data-drawer="frame-mobile-nav-drawer">
                    <i class="pi-menu pi-lg" aria-hidden="true"></i>
                    Docs
                </button>
            </div>
            <div id="frame-mobile-nav-drawer" class="drawer drawer-left">
                <div class="drawer__inner">
                    <div class="drawer__content p-0">
                        <div class="flex flex--justify-end mr-2">
                            <button
                                class="button button--secondary has-text drawer__close mobile-menu-action m-2 pos-fix pin-right"
                                data-drawer="frame-mobile-nav-drawer">
                                Close
                                <i class="pi-times" aria-hidden="true"></i>
                            </button>
                        </div>
                        <nav role="sidebar">
                            {{- partial "site/gallery-sidebar-menu" (dict "menu" .Site.Sections "currentPage" .Page) -}}
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Drawer (Tablet and up) -->
        <div id="frame-nav" class="hide-lg-tablet-down tablet-up-3 lg-tablet-up-2">
            <nav id="sidebar-left" role="sidebar">
                {{- partial "site/gallery-sidebar-menu" (dict "menu" .Site.Sections "currentPage" .Page) -}}
            </nav>
        </div>
        {{ end }}
        <main id="frame-content" class="block-container w-100{{ if not .IsHome }} lg-tablet-up-10{{ end }}">
            <article id="content" class="w-100{{ if not .IsHome }} lg-tablet-up-9 laptop-up-10 px-4 pb-4{{ end }}">
                <h1 class="text-purple">{{ .Title }}</h1>
                <aside class="content-nav hide-lg-tablet-up background-lighter p-3 mb-4">
                    <nav role="sidebar" id="sidebar-right">
                        <h2 class="text--size-lg">On This Page</h2>
                        <div id="on-this-page" class="on-this-page"></div>
                    </nav>
                </aside>
                {{ .Content }}
            </article>
            {{ if not .IsHome }}
            <aside class="content-nav hide-lg-tablet-down tablet-up-4 lg-tablet-up-3 laptop-up-2 pr-4">
                <nav role="sidebar" id="sidebar-right">
                    <h2 class="text--size-lg">On This Page</h2>
                    <div id="on-this-page" class="on-this-page"></div>
                </nav>
            </aside>
            {{ end }}
        </main>
    </div>
</div>
{{ end }}