{{ define "main" }}
<div class="block-container">
  <div id="frame" class="block-container w-100">
    {{ if not .IsHome }}
    <!-- Mobile Nav & Trigger -->
    <div id="frame-mobile-nav" class="hide-lg-tablet-up py-4 px-0">
      <button id="frame-mobile-nav-trigger"
          class="mobile-menu-action button button--post button--lg background-lighter border--color-lighter text-base drawer__open"
          data-drawer="frame-mobile-nav-drawer">
          Table of Contents
          <div class="pill pill--circle text-white background-light ml-2">
              <i class="pi-angle-right" aria-hidden="true"></i>
          </div>
      </button>
      <div id="frame-mobile-nav-drawer" class="drawer drawer--closed drawer-left animated slideInLeft fastest">
        <div class="drawer__inner animated slideInLeft fastest">
          <div class="drawer__content p-0">
            <div class="flex flex--justify-end my-3 mr-2">
                <button class="button drawer__close mobile-menu-action"
                    data-drawer="frame-mobile-nav-drawer">
                    Close
                    <i class="pi-times" aria-hidden="true"></i>
                </button>
            </div>
            <nav role="sidebar">
                <div class="form form--rounded mb-3 px-2">
                    <label for="search" class="form__field pos-rel">
                        <span class="sr-only">Type to Search</span>
                        <input id="search" class="pl-4" type="text" placeholder="Type to Search">
                        <i class="pi-search pos-abs pin-left pin-center-top ml-2 pl-1"
                            aria-hidden="true"></i>
                    </label>
                </div>
                {{- partial "site/sidebar-menu" (dict "menu" .Site.Sections "currentPage" .Page) -}}
            </nav>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Nav Drawer (Tablet and up) -->
    <div id="frame-nav" class="hide-lg-tablet-down tablet-up-3 lg-tablet-up-2">
      <nav id="sidebar-left" role="sidebar">
        <div class="form form--rounded px-2 my-3">
          <label for="search" class="form__field pos-rel">
            <span class="sr-only">Type to Search</span>
            <input id="search" class="pl-4" type="text" placeholder="Type to Search">
            <i class="pi-search pos-abs pin-left pin-center-top ml-2 pl-1" aria-hidden="true"></i>
          </label>
        </div>
        {{- partial "site/sidebar-menu" (dict "menu" .Site.Sections "currentPage" .Page) -}}
      </nav>
    </div>
    {{ end }}
    <main id="frame-content" class="block-container w-100{{ if not .IsHome }} lg-tablet-up-10{{ end }}">
      <article id="content" class="w-100{{ if not .IsHome }} lg-tablet-up-9 laptop-up-10 px-4{{ end }}">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </article>
      {{ if not .IsHome }}
      <aside id="content-nav" class="tablet-up-4 lg-tablet-up-3 laptop-up-2 pr-4">
        <nav role="sidebar" id="sidebar-right">
          <h2 class="text--size-lg">On This Page</h2>
          <div id="on-this-page"></div>
        </nav>
      </aside>
      {{ end }}
    </main>
  </div>
</div>
{{ end }}