---
const { name, level } = Astro.props;
const nameId = name.replace(" ", "-").toLowerCase();
const headings = [
    'h1',
    'h2',
    'h3',
    'h4',
    'h5',
    'h6'
]

const Heading = level ? headings[`${level}` - 1] : 'h2';
---

<Heading id={ nameId } class="text--capitalize mt-4 page-anchor-target">
    <a href={ `#${nameId}` }>{name}</a>
</Heading>
