---
const { level, padding } = Astro.props;
const headings = [
  'h1',
  'h2',
  'h3',
  'h4',
  'h5',
  'h6'
]

const Heading = level ? headings[`${level}` - 1] : 'h2';
---

<section class="my-4">
  <Heading class="text--light text--size-md mb-3">
    Grid demo
  </Heading>
  <div class=`block-container pos-rel ${padding}`>
    <!-- Grid key background -->
    <div class="block-container border border--color-lighter pos-abs pin-top pin-right pin-bottom pin-left" style="z-index: -1">
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
      <div class="block block-1 sg-column"></div>
    </div>
    <slot />
  </div>
</section>

