---
const { version } = Astro.props;
---
<div class="pill text--size-sm background--negative inverted border--color-light">
  <i class="pi-flag mr-1"></i>
  Deprecated <strong class="ml-1">{version}</strong>  
</div>