<?xml version="1.0" encoding"utf-8" ?>
<configuration>
  <system.webServer>
    <customErrors mode="Off" />
    <!-- <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400"/>
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="400" responseMode="File" path="404\index.html"/>
      <error statusCode="403" responseMode="File" path="404\index.html"/>
      <error statusCode="404" responseMode="File" path="404.html"/>
      <error statusCode="500" responseMode="File" path="404\index.html"/>
    </httpErrors> -->
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html"/>
    </staticContent>
  </system.webServer>
</configuration>