---
import Head from './partials/site/Head.astro';
import GtmBody from './partials/site/gtm-body.astro';
import Header from './partials/site/Header.astro';
import Footer from './partials/site/footer.astro';
import Scripts from './partials/site/scripts.astro';

import '../sass/main.scss';

const { pageTitle, description, skelly } = Astro.props;
export interface Props {
	title: string;
}
const pathname = new URL(Astro.request.url).pathname;
const home = '/';

---

<!DOCTYPE html>
<html lang="en">
	<Head pageTitle={pageTitle} description={description} skelly={skelly} />

	<body class="flex flex--column">
		<GtmBody />
		<Header />

		<div id="app" class={`header-fixed flex--grow${pathname === home ? " home" : ""}`}>
			<slot />
		</div>

		<Footer />
	</body>

	<Scripts />
</html>
