---
import Head from '../components/site/Head.astro';
import GtmBody from '../components/site/gtm-body.astro';
import Header from '../components/site/Header.astro';
import Footer from '../components/site/footer.astro';

import '../sass/main.scss';

const { pageTitle, description } = Astro.props;
export interface Props {
	title: string;
}

---

<!DOCTYPE html>
<html lang="en">
	<Head pageTitle={pageTitle} description={description} />

	<body class="flex flex--column">
		<GtmBody />
		<Header />
		<div id="app" class="header-fixed flex--grow {{ if .IsHome }} home{{ end }}">
			<slot />
		</div>
		<Footer />
	</body>
	<script>
		import "../scripts/index.js";
	</script>
</html>
