---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <article id="content" class="w-100 lg-tablet-up-9 laptop-up-10 px-4 pb-4 text--center">
    <h1>{ frontmatter.title }</h1>
    <slot />
  </article>
</BaseLayout>