---
import BaseLayout from './BaseLayout.astro';
import SidebarMenu from "../components/site/sidebar-menu.astro";
const { frontmatter } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const home = '/';
---
<BaseLayout pageTitle={frontmatter.title}>
  <div id="frame" class="block-container w-100">
    <!-- Mobile Nav & Trigger -->
    <!-- ToDo: Dynamically Hide this if not homepage -->
    <div id="frame-mobile-nav" class="hide:lg-tablet px-0">
      <div class="block-container background--lighter flex--justify-end py-2 px-4">
        <button class="button--plain flex flex--align-center flex--column drawer__open" data-drawer="frame-mobile-nav-drawer">
          <i class="pi-menu pi-lg" aria-hidden="true"></i>
          Docs
        </button>
      </div>
      <div id="frame-mobile-nav-drawer" class="drawer drawer-left">
        <div class="drawer__inner">
          <div class="drawer__content p-0">
            <div class="flex flex--justify-end mr-2">
                <button 
                  class="button button--secondary has-text drawer__close mobile-menu-action m-2 pos-fix pin-right"
                  data-drawer="frame-mobile-nav-drawer"
                >
                    Close
                    <i class="pi-times" aria-hidden="true"></i>
                </button>
            </div>
            <nav role="complementary">
              <!-- todo: sidebar menu -->
                <!-- {{- partial "site/sidebar-menu" (dict "menu" .Site.Sections "currentPage" .Page) -}} -->
            </nav>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Nav Drawer (Tablet and up) -->
    <div id="frame-nav" class="hide show:lg-tablet tablet-up-3 lg-tablet-up-2">
      <nav id="sidebar-left" role="complementary">
        <!-- ToDo: Sidebar menu -->
        <!-- {{- partial "site/sidebar-menu" (dict "menu" .Site.Sections "currentPage" .Page) -}} -->
      </nav>
    </div>
    <!-- End isHome -->
     <main id="frame-content" class={`block-container flex--justify-around w-100${pathname === home ? "" : " lg-tablet-up-10"}`}>
      <article id="content" class={`w-100${pathname === home ? "" : " lg-tablet-up-9 px-4 pb-4"}`}>
        <h1 class="text--purple mt-5">{ frontmatter.title }</h1>
        <aside class="content-nav hide:lg-tablet background--lighter p-3 mb-4 text--capitalize">
            <h2 class="text--size-md">On This Page</h2>
            <!-- ToDo: Tabe of contents -->
            <!-- {{ .TableOfContents }} -->
        </aside>
        <slot />
      </article>
      <aside class="content-nav hide show:lg-tablet tablet-up-4 lg-tablet-up-3 laptop-up-2 pr-4 text--capitalize">
        <!-- ToDo: figure whatever this is out -->
        <!-- <h2 class="text--size-md">{{ if in .Permalink "lauchpad" }}Examples{{ else }}On This Page{{ end }}</h2> -->
        <!-- ToDo: Tabe of contents -->
        <!-- {{ .TableOfContents }} -->
      </aside>
    </main>
  </div>
</BaseLayout>