{{ $level := 2 }}

{{ with .Get `level` }}
  {{ $level = . }}
{{ end }}

<section class="my-4">
    <h{{ $level }} class="text--light text--size-md mb-3">Grid demo</h{{ $level }}>
    <div class="block-container tablet-up-2 laptop-up-4 pos-rel{{ with .Get `padding` }} {{.}}{{ end }}">
        <!-- Grid key background -->
        <div class="block-container border border--color-lighter pos-abs pin-top pin-right pin-bottom pin-left" style="z-index: -1">
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        <div class="block block-1 sg-column"></div>
        </div>
    {{ .Inner }}
    </div>
</section>

