{{ if eq (.Get `heading`) "h1" }}
<h1 {{ if .Get `class` }}class="{{ .Get `class` }}"{{ end }} {{ if .Get `id` }}id="{{ .Get `id` }}"{{ end }}>
    {{ .Inner | markdownify }}
</h1>
{{ else if eq (.Get `heading`) "h2" }}
<h2 {{ if .Get `class` }} class="{{ .Get `class` }}"{{ end }} {{ if .Get `id` }}id="{{ .Get `id` }}"{{ end }}>
    {{ .Inner | markdownify }}
</h2>
{{ else if eq (.Get `heading`) "h3" }}
<h3 {{ if .Get `class` }}class="{{ .Get `class` }}"{{ end }} {{ if .Get `id` }}id="{{ .Get `id` }}"{{ end }}>
    {{ .Inner | markdownify }}
</h3>
{{ else if eq (.Get `heading`) "h4" }}
<h4 {{ if .Get `class` }}class="{{ .Get `class` }}"{{ end }} {{ if .Get `id` }}id="{{ .Get `id` }}"{{ end }}>
    {{ .Inner | markdownify }}
</h4>
{{ else if eq (.Get `heading`) "h5" }}
<h5 {{ if .Get `class` }}class="{{ .Get `class` }}"{{ end }} {{ if .Get `id` }}id="{{ .Get `id` }}"{{ end }}>
    {{ .Inner | markdownify }}
</h5>
{{ else if eq (.Get `heading`) "h6" }}
<h6 {{ if .Get `class` }}class="{{ .Get `class` }}"{{ end }} {{ if .Get `id` }}id="{{ .Get `id` }}"{{ end }}>
    {{ .Inner | markdownify }}
</h6>
{{ end }}