<section class="p-0 mb-4">
  <h3>Modifiers & attributes</h3>
  <div
    class="card p-0 linear-gradient no-border rounded-2"
    data-gradient-direction="0deg"
    data-gradient-start="lavender"
    data-gradient-stop="lavender">
    <table class="table text--purple no-border table--no-hover">
      <thead class="no-border">
        <tr class="text--white linear-gradient"
          data-gradient-direction="0deg"
          data-gradient-start="rebeccapurple"
          data-gradient-stop="rebeccapurple">
          <th>Base <i class="pi-warning pi-sm text-negative" aria-hidden="true"></i></th>
          <th>Modifier</th>
          <th>Secondary Modifier</th>
          <th>Data Attribute</th>
          <th style="width: 40%">Behavior</th>
        </tr>
      </thead>
      <tbody>
        {{ .Inner | markdownify}}
      </tbody>
    </table>
  </div>
  <p>
    <i class="pi-warning pi-sm text-negative" aria-hidden="true"></i>
    The <strong class="text--purple">base</strong> class is always required.
  </p>
</section>