name: Update Master
# test 2 : 8:07a
# enabled mtanzi/action-automerge@v1 on ritter org

on:
  push:
    branches:
      - development
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - development

jobs:
  update-cms-master:
    name: Merge development into master after a PR is merged
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: merge
        uses: mtanzi/action-automerge@v1
        id: merge
        with:
          github_token: ${{ github.token }}
          source: 'development'
          target: 'master'
          webhook_url: #if present add the Slack webhook